@media (max-width: 1200px) {
	.header__menu {
		display: none;
	}
	.header__menu-mobile {
		display: block;
	}
	.header__body--column-order1 {
		margin-left: 36px;
	}
	.b-star__gallery .b-star__gallery--row {
		flex-wrap: wrap;
	}
	.b-star__gallery .b-star__gallery--item {
		flex: 0 1 50%;
	}
	.b-star__gallery .b-star__gallery--row {
		justify-content: center;
	}
	.partners__row {
		flex-wrap: wrap;
		justify-content: center;
		span {
			display: block;
			margin: 0 10px;
		}
	}
}

@media (max-width: 920px) {
	.partners__footer {
		flex-direction: column;
		align-items: center;
		text-align: center;
		a {
			margin-bottom: 10px;
			line-height: 1.2;
		}
	}
}

@media (max-width: 820px) {
	.header__pr .header__adres {
		display: none;
	}
	.header__pr .header__tel {
		top: 15px;
	}
	.header__titles--sub-title {
		font-size: 30px;
	}
	.header__titles--title {
		font-size: 50px;
	}
	.contakts__row {
		flex-direction: column;
	}
}

@media (max-width: 720px) {
	.b-star__gallery .b-star__gallery--item {
		flex: 0 1 100%;
	}
	.partners__link,
	.contakts__titte,
	.clients__title,
	.b-star__titles {
		margin-top: 50px;
	}
}

@media (max-width: 520px) {
	.header__titles--sub-title {
		font-size: 20px;
	}
	.header__titles--title {
		font-size: 40px;
		letter-spacing: 11px;
	}
	.header__titles--text {
		font-size: 18px;
	}
	.header__titles--button {
		width: 80%;
		a {
			width: 100%;
			padding: 0 10px;
		}
	}
	.header__pr .header__tel {
		right: 28px;
	}
	.b-star__titles .b-star__title span {
		font-size: 30px;
	}
	.b-star__titles .b-star__title {
		font-size: 28px;
	}
	.b-star__titles .b-star__text {
		font-size: 18px;
	}
	.clients__title {
		font-size: 36px;
	}
	.clients__sabtitle {
		font-size: 18px;
	}
	.contakts__titte {
		font-size: 32px;
	}
	.partners__title {
		font-size: 20px;
	}
}

@media (max-width: 470px) {
	.header__titles--sub-title {
		font-size: 20px;
	}
	.header__titles--title {
		font-size: 30px;
	}
	.header__titles--button {
		width: 95%;
		a {
			width: 100%;
			padding: 0 10px;
		}
	}
	.header__body--column-order1 img {
		height: 0;
	}
	.header__menu-mobile {
		span {
			margin: 24px 0 0 15px;
		}
	}
}
