@import "config";

// CUSTOM USER STYLES & IMPORTS

// start header
.header__bg {
	position: relative;
	overflow: hidden;
	&--video {
		position: absolute;
		height: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
}
.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	position: relative;
	&--column-order1 {
		order: 2;
		flex: 0 1 6.991%;
		margin: 0 95px;
	}
	&--column-order2 {
		order: 1;
		flex: 0 1 46.504%;
		display: flex;
		justify-content: flex-end;
	}
	&--column-order3 {
		order: 3;
		flex: 0 1 46.504%;
	}
}
.header__logo {
	a {
		display: block;
		max-width: 86px;
		img {
			max-width: 100%;
		}
	}
}
.header__menu-mobile {
	display: none;
	text-align: center;
	.header__menu-list {
		min-width: 100%;
		display: none;
	}
	span {
		margin: -32px 0 0 15px;
		display: block;
		width: 27px;
		height: 1px;
		background-color: $accent;
		position: relative;
		cursor: pointer;
		&::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 1px;
			background-color: $accent;
			top: -10px;
			left: 0;
			transition: all 0.3s ease;
		}
		&::after {
			content: "";
			position: absolute;
			width: 36px;
			height: 1px;
			background-color: $accent;
			left: 0;
			bottom: -10px;
			transition: all 0.3s ease;
		}
	}
}
.header__menu-mobile.active {
	min-width: 100%;
	z-index: 3;
	span {
		margin: 20px 0 0 15px;
	}
}
.header__menu-mobile.active span::before {
	transform: rotate(45deg);
	width: 36px;
	top: 9px;
}
.header__menu-mobile.active span::after {
	transform: rotate(-45deg);
	bottom: -9px;
}
.header__menu-mobile.active span {
	height: 0;
}
.header__menu-list {
	margin-top: 60px;
}
.header__menu-list.active {
	display: block;
	li {
		padding: 5px 10px;
	}
}
.header__menu {
	li {
		display: inline-block;
		a {
			font-size: 17px;
			text-transform: uppercase;
			letter-spacing: 1.6px;
			font-weight: 700;
			margin: 0 15px;
			position: relative;
			transition: all 0.5s;
			&::before {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 1px;
				background-color: $accent;
				bottom: 0;
				left: 0;
				opacity: 0;
				transition: all 0.5s;
			}
			&:hover,
			&:hover::before {
				color: $accent;
				opacity: 1;
				transition: all 0.5s;
			}
		}
	}
}
.header__pr {
	position: relative;
	.header__tel {
		display: block;
		position: absolute;
		right: 15px;
		top: 46.5px;
		color: $accent;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1.6px;
		&::before {
			content: "";
		}
	}
	.header__adres {
		display: block;
		position: absolute;
		right: 15px;
		top: 14px;
		color: $accent;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}
.header__titles {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	min-height: 365px;
	margin-top: 50px;
	&--title {
		font-size: 60px;
		letter-spacing: 18px;
	}
	&--text {
		margin-top: 25px;
		font-size: 20px;
		letter-spacing: 4px;
		position: relative;
		display: inline-block;
		&::after,
		&::before {
			content: "";
			position: absolute;
			display: block;
			background-color: #515050;
			height: 1px;
			width: 150px;
			top: 49%;
		}
		&::after {
			right: -152px;
		}
		&::before {
			left: -152px;
		}
	}
	&--button {
		height: 56px;
		line-height: 56px;
		margin: 65px 0 30px 0;
		a {
			transition: all 0.5s;
		}
		a:hover {
			color: #fff;
			background-color: #e9de65;
			border-color: #e9de65;
			transition: all 0.5s;
		}
	}
}
.button {
	& a {
		display: inline-block;
		background-color: $accent;
		border: 1px solid #99988c;
		font-size: 20px;
		letter-spacing: 2px;
		padding: 0 90px;
		color: #000;
	}
}
.header__menu-mobile {
	span {
	}
}
// end header
// start b-star
.b-star__titles {
	text-align: center;
	margin-top: 140px;
	text-transform: uppercase;
	font-weight: 700;
	.b-star__title {
		font-size: 38px;
		line-height: 1.2;
		span {
			color: $accent;
			font-size: 40px;
			display: block;
		}
	}
	.b-star__text {
		font-size: 20px;
		line-height: 1.6;
		margin-top: 30px;
	}
}

.b-star {
	position: relative;
	.b-star__bg {
		position: absolute;
		height: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
}
.b-star__gallery {
	margin-top: 60px;
	.b-star__gallery--row {
		display: flex;
	}
	.b-star__gallery--item {
		display: block;
		position: relative;
		flex: 0 1 33.333%;
		padding: 0 0 520px 0;
		&:hover {
			fieldset {
				border-color: $accent;
				legend {
					color: $accent;
				}
			}
		}
		fieldset {
			position: absolute;
			height: 92%;
			position: absolute;
			width: 84%;
			top: 4%;
			left: 8%;
			border: 1px solid rgba(255, 255, 255, 0.5);
			transform: rotate(180deg);
			transition-duration: 0.3s;
			legend {
				padding: 0 10px;
				transform: rotate(180deg);
				transition-duration: 0.3s;
				width: 95%;
				text-align: center;
			}
		}
	}
}
// end b-star
// start clients
.clients {
	text-transform: uppercase;
	text-align: center;
	background-color: #000;
	font-weight: 700;
	&__title {
		color: $accent;
		margin-top: 140px;
		font-size: 46px;
		line-height: 1.2;
	}
	&__sabtitle {
		margin: 30px 0;
		font-size: 22px;
		line-height: 1.6;
		letter-spacing: 2px;
	}
	.clients__carousel {
		max-width: 400px;
		margin: 0 auto;
		.clients__carousel-img {
			min-height: 600px;
			position: relative;
		}
		.slick-prev.slick-arrow,
		.slick-next.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 3;
			width: 42px;
			height: 42px;
			font-size: 0;
			border: none;
			outline: none;
			background-repeat: no-repeat;
			background-position: center;
			background-color: inherit;
			cursor: pointer;
		}
		.slick-prev.slick-arrow {
			left: -50px;
			background-image: url(../images/prev_arrow.png);
		}
		.slick-next.slick-arrow {
			right: -50px;
			background-image: url(../images/next_arrow.png);
		}
		.clients__carousel-discription {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: auto;
			display: block;
			font-size: 22px;
			letter-spacing: 2px;
			line-height: 1.6;
			font-weight: 700;
			padding: 0 5px;
			color: #000;
			background-color: rgba(243, 235, 235, 0.05);
			span {
				font-family: NotoSans, sans-serif;
				letter-spacing: normal;
				display: block;
				font-size: 15px;
				font-weight: 400;
				text-transform: none;
			}
		}
	}
}

// end clients
// start contakts
.contakts {
	text-transform: uppercase;
	font-weight: 700;
	&__titte {
		color: $accent;
		font-size: 42px;
		margin-top: 140px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;
	}
	&__item {
		flex: 0 1 33.333%;
		padding: 0 15px;
		font-size: 30px;
		letter-spacing: 1.6;
		transition: all 0.3s;
		line-height: 1.6;
		padding-left: 70px;
		position: relative;
		margin: 35px 0;
		span {
			display: block;
			font-size: 22px;
			line-height: 1;
		}
		.item__working-hours::before,
		.item__tel::before,
		.item__address::before {
			content: "";
			position: absolute;
			width: 40px;
			height: 40px;
			left: 15px;
			top: 11px;
			background-image: url(../images/m1.png);
			overflow: hidden;
		}
		.item__working-hours::before {
			background-image: url(../images/m3.png);
		}
		.item__tel::before {
			background-image: url(../images/m2.png);
		}
	}
}
// end contakts
// start partners
.partners {
	background-color: #000;
	&__link {
		margin-top: 140px;
		display: flex;
		max-width: 550px;
		justify-content: center;
		min-width: 100%;
		img {
			max-width: 100%;
			display: block;
		}
	}
	&__title {
		color: $accent;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 30px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		span {
			max-width: 98px;
			margin-bottom: 10px;
			img {
				max-width: 100%;
			}
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 20px 0;
		border-top: 1px solid $accent;
		font-weight: 700;
		a {
			position: relative;
			&:hover,
			&:hover::before {
				color: $accent;
				opacity: 1;
				transition: all 0.3s;
			}
		}
		a::before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 1px;
			background-color: $accent;
			bottom: 0;
			left: 0;
			opacity: 0;
			transition: all 0.5s;
		}
		span {
			font-size: 14px;
			text-transform: normal;
			letter-spacing: 1.2px;
			color: #858585;
		}
		.partners__button {
			a {
				padding: 0 20px;
				&:hover {
					background-color: #e9de65;
					border-color: #e9de65;
					color: #000;
					transition: all 0.5s;
				}
			}
		}
	}
}
// end partners
// Always at the end
@import "media";
